.text-box{
    border: 1px solid teal;
    margin-top: 80px;
    margin-left: 40%;
    width: 30%;
    background-color: rgba(0, 128, 128, 0.114);
    
}

.text-box h5{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    color: teal;
}



